<h2><a href="/">Relations Tracker Application</a></h2>
<div id="greeter">
  <% if (user) { %>
    <span>Welcome back, <%= user.firstName %>!</span>
    <a href="/auth/logout">Logout</a>
  <% } else { %>
    <a href="/auth/login">Login</a>
    <a href="/auth/register">Sign Up</a>
  <% } %>
</div>