<span id="footerText" style="text-align: center;">
  <p>
    &copy; <span id="copyrightYear"><%= new Date().getFullYear();%> </span> Jonathon Chambers 
  </p>
  <p><a href="https://github.com/FFCoder"><img width="30px" src="public/img/github-mark.png" alt="github icon" srcset=""></a></p>
</span>