<h2>Welcome to the Relations Tracker</h2>

<p>This is an application designed to help you keep up with all the people in your life.</p>
<h3>Current Features:</h3>
<ul>
  <li>
    Keep track of all your contacts
  </li>
  <li>
    Add notes to each contact
  </li>
  <li>
    Setup "Blocked" contacts and give reasons why
  </li>
  <li>
    Add a contact to a group
  </li>
</ul>